* {
  margin: 0px;
  padding: 0px;
}

h1 {
  color: #b7410e;
}

a {
  text-decoration: none;
  font-weight: 500;
  transition:
    color 0.3s ease,
    border-bottom 0.3s ease;
  border-bottom: 1px solid transparent;
  display: block;
  width: fit-content;
}

a:hover {
  color: #d35400;
  border-bottom: 1px solid #d35400;
}

/* 1. Reset the list defaults */
.nav-links {
  display: flex;
  justify-content: space-evenly;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* 2. Style the individual links */
.nav-links li a {
  display: block;
  text-decoration: none;
  padding: 20px 30px;
  font-size: 14px;
  letter-spacing: 1px;
  transition: background 0.3s;
}

/* 3. The purple "Active" state */
.nav-links li.active a {
  background-color: #7d3e08aa; /* Purple accent */
}

/* 4. Hover effect */
.nav-links li a:hover {
  background-color: #333;
}
